<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website - About</title>
    </head>
    <body>
        <h1>Davia Howard</h1>
        <p>WELCOME! As stated, my name is Davia Howard. I am currently a second year computer science major and coding enthusiast. <br> In the future, I intend to specialize in web development, UI/UX Design and App Development.
            I have some experience in languages such as Python, Java, C, HTML/CSS and Dart. One of my favorite division under computer science is Web Development. 
            This is because it combines coding and creativity where you can for example, showcase a brand's personality while reaching potential clients. 
            I love the aspect of using code to arrange elements and graphics to create visual appealing and functional end products.</p>
    </body>
    </html>